body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #aaa;
  width: 100%;
}
*{
  box-sizing: border-box;
  font-size: 1.2em;
}
.header {
  width: 100%;
  min-width: 240px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  border-bottom: 8px solid rgb(219, 102, 102);
  background-color: rgb(44, 42, 42);
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
}
.gallery {
  margin: 10px auto;
  width: 60%;
  min-width: 240px;
  height: 320px;
  object-fit: cover;
  display: flex;
  align-items: start;
  gap: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 18px;
  box-shadow: 0 0 1px 0 grey;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.gallery::-webkit-scrollbar {
  display: none;
}
.gallery img {
  width: 240px;
  border-radius: 8px;
  object-fit: cover;
}
.gallery figure::after {
  content: "";
  width: 30%;
}
.gallery figure {
  width: 400px;
  height: 255px;
  border-radius: 8px;
  animation: anim 20s  linear infinite alternate;
  box-shadow: 0 0 5px 0 #444;
  padding: 10px;
  box-sizing: content-box;
  margin: 20px 10px;
}
.gallery:hover figure{
  animation-play-state: paused;
}

@keyframes anim {
  from{
    transform: translateX(0);
  }to{
    transform: translateX(-645px);
  }
}
.gallery-fix {
  width: 90%;
  height: max-content;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.gallery-fix img {
  width: 240px;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 black;
  transition: all 0.3s;
}
.gallery-fix img:hover {
  transform: scale(1.1);
}
figcaption {
  font-size: 12px;
}
@media hp {
  
}